aiocontextvars==0.2.1
asyncpg==0.18.2
Click==7.0
gino==0.8.1
h11==0.8.1
h2==3.0.1
hpack==3.0.0
httptools==0.0.11
Hypercorn==0.4.6
hyperframe==5.2.0
pytoml==0.1.20
SQLAlchemy==1.2.16
starlette==0.9.10
typing-extensions==3.7.2
uvicorn==0.3.25
uvloop==0.11.3
websockets==7.0
wsproto==0.12.0
