[REQUIRED]
; These are the settings that you really need
; to customize, tbh.

secret key=your key here. btw you want to change this
; get a fancy one with `python -c 'import os; print(os.urandom(24).hex())'`

database uri=postgresql://username:password@localhost/database_name
; this is based on the format here - https://docs.sqlalchemy.org/en/latest/core/engines.html
; some alternative examples are -
;	mysql://scott:tiger@localhost/foo for mysql or compatible
;	sqlite:///foo.db for sqlite
;	postgresql is prettier than the above, btw - personal preference
