[REQUIRED]
; These are the settings that you really need
; to customize, tbh.

secret key=your key here. btw you want to change this
; get a fancy one with `python -c 'import os; print(os.urandom(24).hex())'`

database uri=postgresql://username:password@localhost/database_name
; this is based on the format here - https://docs.sqlalchemy.org/en/latest/core/engines.html
; btw, lamia only supports PostgreSQL but you can use postgresql+pg8000 if you 
; need a pure python implementation (which is PyPy friendly)
; (if you're using pypy, you can also pip install psycopg2cffi)
